<div class="categories">
    <button class="all-categories-btn active-all-categories">All categories</button>
    <ul class="categories-list">
        <li class="category-item"><button class="category-btn active-category">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
    </ul>
</div>