<div class="favorites-card">
    <div class="container">
        <!-- <img src="../img/favorites/card-mob.jpg" class="favorites-card-img favorites-card-img-mob" alt="card" width="335px" height="516px">
        <img src="../img/favorites/card-tabl.jpg" class="favorites-card-img favorites-card-img-tabl" alt="card" width="704px" height="356px">
        <img src="../img/favorites/card.jpg" class="favorites-card-img favorites-card-img-desktop" alt="card" width="1080px" height="356px"> -->
        <picture>
            <source media="(min-width:1280px)" srcset="../img/favorites/card.jpg">
            <source media="(min-width:768px)" srcset="../img/favorites/card-tabl.jpg">
            <img src="../img/favorites/card.jpg" alt="card" style="width:auto;">
        </picture>
    </div>
</div>

<div class="no-one">
    <div class="container">
        <div class="no-one-wrap">
            <svg class="no-one-icon-mob" width="68px" height="58px">
                <use href="../img/favorites/favorites-icon.svg#favorites-icon-mob"></use>
            </svg>
            <svg class="no-one-icon" width="97px" height="83px">
                <use href="../img/favorites/favorites-icon.svg#favorites-icon"></use>
            </svg>
            <p class="no-one-text">It appears that you haven't added any recipes to your favorites yet. To get started, you can add recipes that you like to your favorites for easier access in the future.</p>
        </div>
    </div>
</div>