<section class="hero">
  <container class="hero-container">
    <div class="hero-info">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-title-span">Tasty Treats' </span>Customizable
        Masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button class="hero-order-btn" type="button">Order now</button>
    </div>
    <div class="hero-swipe-thumb">
      <swiper-container class="hero-swiper">
        <swiper-slide>Slide 1</swiper-slide>
        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
      </swiper-container>
      <div class="hero-swipe-dots">
        <p class="hero-swipe-dot">.</p>
        <p class="hero-swipe-dot">.</p>
        <p class="hero-swipe-dot">.</p>
      </div>
    </div>
  </container>
</section>
