<section class="section-hero">
  <div class="container">
    <h1 class="hero-title">
      Learn to Cook Tasty Treats' Customizable Masterclass
    </h1>
    <h2 class="hero-subtitle">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </h2>
    <button class="btn-order">Order now</button>

    <!-- card -->
    <div class="swiper"></div>

    <!-- categories -->
    <div class="categories">
      <button class="btn-categories">All categories</button>
      <input type="text" />
    </div>

    <!-- filter -->
    <div class="filter">
      <form action="" class="form-filter">
        <label for=""
          >Search<input type="text" placeholde="Enter Text"
        /></label>
        <label for="">Time<input type="text" placeholde="min" /></label>
        <label for="">Area<input type="text" placeholde="italian" /></label>
        <label for="">Ingredients<input type="text" /></label>
      </form>
    </div>

    <!-- popular reseip -->
    div
  </div>
</section>
