/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');

:root {
  --cubic-bezier: ;
  --color: #9bb537;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Inter', sans-serif;
  line-height: calc(18 / 16);
  background-color: #f8f8f8;
}
.container {
  max-width: 366px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1110px;
  }
}
