/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');

:root {
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --default-color: #fff;
  --main-text-color: #9bb537;
  --background-color: #f8f8f8;
  --secondary-background-color: #161616;
  --secondary-text-color: #050505;
  --alfa-text-color: rgba(5, 5, 5, 0.8);
  --secondary-alfa-text-color: rgba(5, 5, 5, 0.5);
}

body.dark :root {
  --main-text-color: red;
  --background-color: #050505;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Inter', sans-serif;
  line-height: calc(18 / 16);
  background-color: var(--background-color, #f8f8f8);
}
.container {
  max-width: 366px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 2px solid red;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1110px;
  }
}

/* Тема сайту змінюється з налаштування системи */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: var(--secondary-background-color, #050505);
  }
  :root {
    --main-text-color: #2323233;
  }
} */

/* html.dark body {
  background-color: var(--secondary-background-color, #050505);
} */
