/* dark-theme */
.dark-theme {
  background-color: var(--dark-theme);
  transition: all .3s ease;

  /* Header */

  .nav-link-favorites,
  .shopping-cart-icon,
  .btn-open-menu-icon {
    color: var(--default-color);
    stroke: var(--default-color);
  }

  .mob-menu {
    background-color: #050505;
  }


  /* Hero */

  .hero-title,
  .hero-text,
  .hero-order-btn,
  .hero-swipe-dot,
  .hero-swiper {
    color: var(--default-color);
  }

  .hero-swipe-dot:first-child {
    color: var(--main-text-color);
  }

}