.header {
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav-link {
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
