.header {
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
}

.nav-link {
  /* font-size: 12px; */
}
.nav-link-home {
  color: var(--main-text-color, #9bb537);
}
.nav-link-favorites {
  font-weight: 400;
  color: var(--secondary-text-color, #050505);
}
.link {
}
.logo-link {
  padding: 28px 0;
}
.logo-img {
}
.button-wrap {
  /* display: flex; */
}
.shopping-cart {
  margin-right: 14px;
}
.shopping-cart-icon {
  fill: none;
  stroke: black;
}

/* shopping-cart:is(:focus, :hover) .shopping-cart-icon{
  background-color: #9bb537;
  stroke: var(--main-text-color, #9bb537);
} */

.btn-switch {
  color: #fff;
  background-color: inherit;
}
.switch-light {
}
.btn-open-menu {
}

.btn-open-menu-icon {
}
.mob-menu {
}
.js-mob-menu {
}
.button-close {
}
.js-close-menu {
}
.close-icon {
}
.mob-page-nav {
}
.mob-nav-list {
}
.mob-nav-item {
}

@media screen and (max-width: 767px) {
  .nav-list,
  .btn-switch-desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .btn-open-menu {
    display: none;
  }
  .nav-list {
    display: flex;
    margin-right: 203px;
    gap: 16px;
  }
  .nav-item {
    font-size: 12px;
  }
  nav-link {
    padding: 31px 0;
  }
  .logo-img {
    font-weight: 93px;
    height: 20px;
  }
  .shopping-cart {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-list {
    margin-right: 390px;
  }
  .shopping-cart {
    margin-right: 24px;
  }
}
